<div class="sports-tree">
  <ul class="disciplines" uib-accordion close-others="oneAtATime">
    <li uib-accordion-group class="panel-default"  ng-repeat="item in tree" >
      <uib-accordion-heading>
        {{item.name}}<span class="total">{{item.total}}</span>
      </uib-accordion-heading>
      <ul class="countries" uib-accordion close-others="oneAtATime">
        <li uib-accordion-group class="panel-default" ng-repeat="country in item.countries" >
          <uib-accordion-heading>
            {{country.name}}<span class="total">{{country.total}}</span>
          </uib-accordion-heading>
          <ul class="leagues">
            <li ng-repeat="league in country.leagues" ng-click="showGrid(league.id)">
              {{league.name}}<span class="total">{{league.total}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
